# 忽略資料庫檔案
instance/
menu.db
*.db

# 忽略使用者上傳的靜態檔案
static/member/*
!static/member/.gitkeep
# 排除特定格式的圖片
*.jpg
*.jpeg
*.png

# Python 編譯暫存檔
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境
venv/
env/
.env

.vscode/
#排除本地模型
qwen2.5-1.5b-instruct-q4_k_m.gguf